
<a class="nav-link btn btn-group">Hello, ...</a>
<a class="nav-link btn btn-group">Log Out</a>

<a class="nav-link btn btn-group">Register</a>
<a class="nav-link btn btn-group">Log In</a>

@code {

}
