@using System.Net.Http
@inject HttpClient Http

<div class="control">
    <button>Add</button>
    <button>Del</button>
    <button>Edit</button>
</div>
<div>
    <ul>
        @foreach (var item in lstCompany)
        {
            <li><div>@item.Id / @item.Name / @item.Phone / @item.Adress</div></li>
        }
    </ul>
</div>

@code {
    public List<Company> lstCompany = null;

    protected override async Task OnInitializedAsync() => lstCompany = await Http.GetJsonAsync<List<Company>>("api/Company");
}
